.charts-div {
    width: 50%;
    margin-left: 12vw;
    margin-top: 2vh;
}
.param-div {
    //  background-color: rgba(0, 0, 127, 0.1);
    border-radius: 20px;
    margin-top: 5vh;
    justify-content: center;   
}
.particip-div {
    margin-top: 0.2vh;
    font-size: 2rem;
    font-weight: 500;
    color:gray;
    margin-left: 2vw;

}