.modal-90w {
    margin-left: 270px;
    width: 70%;
    height: 30vh;
    
}
.mod-content {
  
    background-color: white;
}
.modal-event-title {
    width: 100%;

}
.modal-header
{
    border-bottom: none;
    margin-top: 10px;
}
.add-quest {
    color:green;
    size: 200px;
    width: 200px;
}

