.spinner 
{
   margin-left: 50%;
}

.step3
{
    height: 50vh;
}
.qr 
{
    margin-left: 8vw;
    margin-top: 10vh;
}
.url-txt {
    margin-top: 10vh;
    font-size: 1.5rem;
    color: gray;
    margin-left: 2vw;
}
.url-or
{
    margin-top: 20vh;
    font-size: 2rem;
    color: #888;

}
.qr-text
{
    margin-left: 6vw;
    margin-bottom: 20vh;
    font-size: 2rem;
    color: gray;
    
}