.ev-title {
    width: 50%;
    box-shadow: none;
    outline: none;
    -webkit-box-shadow: none;
}
.step1 {
    margin-top: 2%;
    overflow-x: hidden;
    margin-left: 12%;
}

.ev-label {
    margin-top: 30px;
    font-size: 1.2rem;
    color:  #888;
    margin-bottom: 2%;
}
.op{
    margin-bottom: 20%;
}
.op-label {
    margin-top: 15px;
    font-size: 1.2rem;
    color:  #888;
}