
.step2 {
    margin-top: 6%;
    overflow-x: hidden;
    margin-left: 12%;
}

.poll-op {
    margin-left: 10%;
}
.timer {
    margin-top: 15%;
}
.timer-inp{
    width: 20%;
    margin-left: 2vw;
}
.addQuestion {
    background-color: green;
    border-radius: 10px;
}
