.comment-div {
    margin-top: 1vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vw;
    border-radius: 10px;
    background-color: rgba(0,255,0,0.1);   
    color: black;
    font-size: 0.9vw;
}