.event-list {
    margin-top: 2vh;
    margin-left: 10vw;
    width: 70%;
    height: 20%;
}
.test34 {
    height: 6vh;
}
.event-name {
    margin-left: 3vw;
    margin-top: 2vh;
    color: gray;
    font-size: 1.1rem;
}
.btn-add {
    margin-left: 10vw;
    margin-top: 10vh;
    background-color: none;

}
.cell-tr {
    height: 10%;
}
.cell-td {
    color: gray;
    padding: 5%;
}
.cell-td-des {
    margin-left: 20%;
}
.event-td:hover {
    cursor: pointer;
}