
.main-login {
  background-color: white;
}
.half,
.half .container > .row {
  height: 100vh;
}

@media (max-width: 991.98px) {
  .half .bg {
    height: 500px;
  }
}

.half .contents,
.half .bg {
  /* margin-top: -2%; */
  width: 50%;
}
@media (max-width: 1199.98px) {
  .half .contents,
  .half .bg {
    width: 100%;
  }
}

.password-div {
  margin-top: 2vh;
}
.p-password input {
  width: 27vw;
  border:none;
  border: 1px solid #c2c2c1;
  position: relative;
  outline: none;


}
.input-auth{
  width: 27vw;
  border:none;
  border: 1px solid #c2c2c1;
  position: relative;
  outline: none; 
}
.p-password input:focus {
  outline: none;
  border: none;
}
.label-password {
  font-size: 12px;
  display: block;
  margin-bottom: 0;
  color: #c2c2c1;
  font-weight: 200;
}
.input-div {
  margin-top: 5vh;
}
.error-div {
  margin-bottom: 1px;
}
.input-div-2 {
  margin-top: 1vh;
}
.auth-txt {
  font-size: 2rem;
  color: gray;
  font-weight: 200;
}






.half .bg {
  background-size: cover;
  background-position: center;
}



 .login-link {
  position: relative;
  top: 2vh;
  font-size: 12px;
  color: #888;
  text-decoration: none;
  font-weight: 200;
}

.caption {
  top: 2vh;
  font-size: 12px;
  color: #888;
  text-decoration: none;
  font-weight: 200;
}


.login-i {
  margin-top: 15vh;
  margin-left: 3vw;
}
.log-form {
  margin-top: 4vh;
  overflow-y: hidden;
}

@media screen and (max-width: 900px){
  .login-i{
    display: none;
  }
  .p-password input {
    width: 92vw;
    border:none;
    border: 1px solid #c2c2c1;
    position: relative;
    outline: none;
  
  
  }
  .input-auth{
    width: 92vw;
    border:none;
    border: 1px solid #c2c2c1;
    position: relative;
    outline: none; 
  }
}

@media screen and (max-width: 1024px){

  .login-i {
    margin-top: 15vh;
  }
}
a:hover {
cursor: pointer;
}
.notifText {
  text-align: center;
  /* position: fixed; */
  width: 100%;
}