.new-event-body {
  margin-top: 10vh;
  margin-left: 5vw;
  margin-bottom: 5vh;
}

.evt-type {
    margin-top: 4vh;
    margin-bottom: 1vh;
}
.label-evt-type {
    color: gray;
    font-size: 0.8em;
    margin-left: 0.5vw;
    
}

.cards {
  width: 10vw;
  margin-left: 1vw;
  text-align: center;
  position: relative;
}

.new-event-title {
  font-size: 2em;
  color: #888;
}
a {
  text-decoration: none;
}

.label-eventTitle {
  width: 32vw;
}
.p-dialog-title {
  margin-left: 7vw;
  font-weight: 100;
  color: #888;
  font-size: 2vw;

}

