.new-event-body {
  margin-top: 5vh;
  margin-left: 7vw;
  margin-bottom: 5vh;
  // background-color: red;
}

.event-input {
  width: 80%;
}

.evt-type {
    margin-top: 7vh;
    margin-bottom: 1vh;
}
.label-evt-type {
    color: gray;
    font-size: 0.8em;
    margin-left: 0.5vw;
    
}

.cards {
  width: 15vw;
  margin-left: 1vw;
  // background-color: red;
  text-align: center;
  position: relative;
  
}
.p-card {
    border-color: blue;
}
.modal-event-title {
  // text-align: center;
}
.new-event-title {
  font-size: 2em;
  color: #888;
}
a {
  text-decoration: none;
}
.event-type-error {
    margin-top: 2vh;
}
