.reset-passwd {
  background-color: white;
  height: 100vh;
  overflow: hidden;
}
.main-div {
  height: 100%;
  overflow: hidden;
}
.center-div {
  margin-top: 15vh;
  margin-left: 20%;
  width: 50%;
  height: 50vh;
  padding: 5vh;
}

.email-res {
  border: none;
  border-bottom: 1px solid #c2c2c1;
  width: 300px;
  margin-top: 40px;
  margin-bottom: 35px;
}
.email-res2 {
  border: none;
  border-bottom: 1px solid #c2c2c1;
  width: 300px;
  margin-bottom: 35px;
}

.text-res {
  font-size: 32px;
  color: #888;
  font-weight: 100;
  margin-bottom: 30px;
}

@media screen and (max-width: 640px) {
  .text-res {
    font-size: 20px;
    color: #888;
    font-weight: 100;
    margin-bottom: 30px;
  }
  .textsub-res {
    font-size: 0.9rem;
  }
  .center-div {
    margin-top: 7vh;
    width: 60vw;
    height: 70vh;
  }
  .input-auth2 {
    width: 40vw;
  }
  .input-div {
    margin-top: 5vh;
  }
  .auth-header-log {
    font-size: 1rem;
  }
  #passwd1 {
    width: 30vw;
  }
  #passwd2 {
    width: 30vw;
  }
}
