.settings 
{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    margin-top: 5%;
}
.setting-elt
{
    margin-bottom: 5%;
}
.item-title
{
    margin-bottom: 1%;
}
.main-title {
  font-size: 1.2rem;
  color: gray;
}
.content-title
{
  font-size: 0.9rem;
  color: #888;
}
.user-info
{
    margin-top: 5%;
}
.username-info {
    margin-top: 3%;
}
.username-inp
{
    border-left: none;
    border-right: none;
    border-top: none;
}

.upd-usename {
  margin-top: 5%
}


