.settings 
{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    margin-top: 5vh;
}
.setting-elt
{
    margin-bottom: 5%;
}
.item-title
{
    margin-bottom: 1%;
}
.main-title {
  font-size: 1rem;
  color: gray;
  font-weight: 400;
}
.usr-lbl {
  font-size: 0.8rem;
  color: gray;
  margin-left: 5vw;
}

.content-title
{
  font-size: 0.9rem;
  color: #888;
}
.user-info
{
    margin-top: 5vh;
}
.username-info {
    margin-top: 3%;
}
.username-inp
{
    border-left: none;
    border-right: none;
    border-top: none;
}
.usr-name {
  width: 15vw;
  margin-left: 5vw;
}
.upd-usename {
  margin-top: 5vh
}


