.main-sigin {
  background-color: white;
  width: 100vw;
}
.not-valid {
  color: red;
  font-size: xx-small;
  margin-top: -10px;
  padding-top: -10px;
}

.pwd-invalid {
  margin-bottom: -2px;
  border: none;
  border-bottom: 1px solid #ec0a1d;
  position: relative;
}
.frm-sign {
  margin-bottom: 0;
  border: none;
  border-bottom: 1px solid #c2c2c1;
  position: relative;
}
.pwd-inv-mess {
  color: red;
  font-size: xx-small;
  margin-bottom: 15px;
}

.signin-btn {
  margin-top: 50px;
}
